<div class="contanier">
<h2 style="text-align: center;">Student Management List</h2>
<br>
<table  class="table table-bordered table-striped" *ngIf="students.length>0">
        <thead>
            <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Id</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students">
            <td>{{student.firstname}}</td>
            <td>{{student.lastname}}</td>
            <td>{{student.emailid}}</td>
            <td>
                <button (click)="updatestudentlist(student.id)" class="btn btn-info" style="color: white; background-color: rgb(0, 115, 255);">Update</button>
                <button (click)="deleteStudent(student.id)" class="btn btn-danger" style="color: white; background-color: rgb(244, 77, 39); margin-left: 10px;">Delete</button>
                <button (click)="studentDetails(student.id)" class="btn btn-info" style="color: white; background-color: rgb(37, 191, 13); margin-left: 10px;">View</button>
            </td> 
        </tr>
        </tbody>
</table>
</div>